:root {
    /* Color theme definitions */
    --articleBackground: #fffbf2;
}

.article_title {
    color: var(--textColor);
    font-weight: bold;
}

.articles_list {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.articles_list ul {
    list-style-type: none;
    padding: 0;
}

.articles_list li {
    margin: 1em 0;
}

.articles_list a {
    display: block;
    padding: 0.5em;
    background-color: var(--articleBackground);
}

.articles_list h3 {
    color: var(--linkColor);
    font-weight: normal;
    margin: 0.5em 0;
}

.articles_list p {
    color: var(--textColor);
    margin: 0.5em 0;
}

article {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    line-height: 1.8em;
    background-color: var(--articleBackground);
    padding: 1em 3em;
}

article a {
    color: #666;
}

article section + section {
    margin-top: 2em;
}

section {
    padding-bottom: 1em;
    border-bottom: 1px solid #999;
}

section:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
}

@media only screen and (max-width: 1200px) {
    .articles_list {
        max-width: 100%;
    }
    .articles_list ul {
        font-size: 5em;
    }

    article {
        max-width: 100%;
        font-size: 3em;
        padding: 1em 1em;
    }
}
