.article_title {
    color: var(--textColor);
    font-weight: bold;
}

.articles_list {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px 5%;
}

.article_card {
    flex-basis: 30%;
}

.article_card a {
    display: block;
    padding: 1em;
    margin-bottom: 1.5em;
}

.article_card_title {
    color: var(--linkColor);
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 22px;
}
.article_card_body {
    color: var(--textColor);
    margin: 0.5em 0;
    font-size: 16px;
}
.article_card_subtext {
    font-size: 12px;
    color: var(--textColorDarker);
    margin: 0;
}

article {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 1.6em;
    padding: 1em 3em;
}

article a {
    color: var(--linkColor);
}

article section + section {
    margin-top: 2em;
}

section {
    padding-bottom: 1em;
    border-bottom: 1px solid #999;
}

section:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
}

article p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

article figcaption {
    color: var(--textColorDarker);
    font-size: 16px;
}

@media only screen and (max-width: 1200px) {
    .articles_list {
        max-width: 100%;
    }
    .article_card {
        flex-basis: 100%;
    }
    .article_card a {
        box-shadow: none;
    }
    .article_card_title {
        font-size: 48px;
    }
    .article_card_body {
        font-size: 32px;
    }
    .article_card_subtext {
        font-size: 28px;
    }

    article {
        max-width: 100%;
        font-size: 32px;
        padding: 1em 1em;
    }
    article figcaption {
        font-size: 27px;
    }
}
