@font-face {
    font-family: Work Sans;
    src: url("../font/WorkSans-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Work Sans;
    src: url("../font/WorkSans-Bold.ttf");
    font-weight: bold;
}

:root.light {
    /* Color theme definitions */
    --textColor: #202020;
    --textColorLigher: #474747;
    --linkColor: #206b39;
    --linkColorExternal: #de0953;
    --bg: #ffffff;
    --bgDarker: #f5f5f5;
}
:root.dark {
    --textColor: #ececec;
    --textColorLigher: #fdfdfd;
    --linkColor: #3fce6e;
    --linkColorExternal: #f1578d;
    --bg: #131313;
    --bgDarker: #202020;
}

body {
    font-family: "Work Sans", sans-serif;
    color: var(--textColor);
    font-size: 24px;
    background-color: var(--bg);
}

a {
    color: var(--linkColor);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.link_external {
    color: var(--linkColorExternal);
}

h1 {
    font-size: 64px;
    font-weight: normal;
}

h3 {
    font-size: 32px;
    font-weight: normal;
}

img {
    float: right;
}

@media only screen and (max-width: 1200px) {
    body {
        font-size: 52px;
    }

    h1 {
        font-size: 90px;
    }

    h3 {
        font-size: 70px;
    }
}

.simple-table th {
    text-align: left;
    font-weight: normal;
    padding-right: 10px;
}


/* Card-list functionality */

.card-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.card {
    position: relative;
    padding: 10px;
    display: block;
    background-color: var(--bgDarker);
}

.card-fixed {
    width: 20%;
}

.card-square {
    width: 250px;
    height: 250px;
}

.card h3 {
    margin: 0;
}

.card p {
    color: var(--textColor);
}

.card small {
    color: var(--textColorLigher);
}

.card img {
    height: 40px;
    float: right;
}

.card-list-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5px;
}

@media only screen and (max-width: 1200px) {
    .card {
        width: 90%;
    }

    .card img {
        height: 64px;
    }

    .card-square {
        height: auto;
    }
}

/* Theme select styling */

.theme-toggle-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    height: 40px;
    background-color: var(--textColorLigher);
    color: var(--bgDarker);
    border: none;
    padding: 5px;
    font-size: 20px;
}

@media only screen and (max-width: 1200px) {
    .theme-toggle-btn {
        width: 300px;
        height: 80px;
        font-size: 40px;
    }
}
